nav{
    margin-top: 20px;
}
.navbar{
    background-color: aqua;
}

h1{
    display: inline;
    margin-left: 20%;
}

span{
    margin-left: 220%;
}
.navbar{
    background-color: green;
}
body{
    background-color: rgb(194, 139, 52) !important;
}
