nav{
    height: 80px;
}

h2{
    display: inline;
    margin-left: 20%;
    color: black;
    font-style:oblique;
}
.btn3{
    border-radius: 50px;

    color:black;
}
button:hover {
    background: #e64c00;
  }
span{
    margin-left: 220%;
}
.navbar{
    background-color: white;
}
body{
    background-color:  white !important;
}
.ak1{
    text-decoration: none;
    color: black;
}
.ak2{
    text-decoration: none;
    color: black;
}
.btn1{
    margin-left: 50%;
    border-radius: 50px;
}
.it1{
    margin-left: px;

}
.it2{
    margin-left: 15px;
}
.it3{
    display: inline;
    margin-left: -15px;
}
.card-text1{
    text-align: justify;
    margin-left: -13px;
}
.card1{
    height: 400px;
    width: 320px;
    border: 2px solid wheat;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px white;
}
.card-tittle1{
    margin-top: -80px;
}

.card-img-top{
    border-radius: 10px;
}
.btn2{
    color: black;
    height: 20px;
    width: 40px;
    border: 2px solid  #e64c00;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin-left: 100px;
}
.btn2:hover {
    background: #e64c00;
    color: white;
  }