nav{
    height: 80px;
}

h2{
    display: inline;
    margin-left: 20%;
    color: #fc5603;
    font-style: italic;
}
h2:hover{
    color: #e1692d;
}
.btn3{
    border-radius: 50px;
    color:black;
}
button:hover {
    background: #e64c00;
  }
span{
    margin-left: 220%;
}
.navbar{
    background-color: black;
}
body{
    background-color:  white !important;
}
.ak1{
    /* margin-left: 620px; */
    text-decoration: none;
    color:white;
    font-size: large;
}
.ak1:hover{
    color: #e64c00 ;
}
.ak2{
    text-decoration: none;
    color: white;
    font-size: large;
}
.ak2:hover{
    color: #e64c00 ;
}
.tn1{
     margin-left: 600px;
     text-decoration: none;
     color: white;
     font-size: large;
}
.tn1:hover{
    color: #e64c00 ;
}
.it1{
    margin-left: px;

}
.it2{
    margin-left: 15px;
}
.it3{
    display: inline;
    margin-left: -15px;
}
.card-text1{
    text-align: justify;
    margin-left: -13px;
}
.card1{
    height: 400px;
    width: 320px;
    border: 1px solid wheat;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px white;
    margin-top: 70px;
}
.card-tittle1{
    margin-top: 150px;
}

.card-img-top{
    border-radius: 10px;
}
.btn2{
    color: black;
    height: 20px;
    width: 40px;
    border: 2px solid  #e64c00;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin-left: 100px;
}
.btn2:hover {
    background: #e64c00;
    color: white;
  }
.dropdown-menu{
    position: absolute;
    margin-left: 1300px;
}
.container1{
    background-color: #e64c00;
}
.text-light{
    text-decoration: none;
}
h5{
    color: #e64c00;
}
.jk{
    text-decoration: none;
}
h1{
    position: absolute;
    margin-left: 42%;
    margin-top: 40px !important;
    color:  #e64c00;
}
h3{
    color: #e64c00;
    text-align: center;
}
.ab{
    text-align: justify;
    padding: 5px;
    margin-left: 20px;
}
h4{
    color: #e64c00;
    text-align: center;
}
ab1{
    margin-left: 30px;
}