    .card{
        height: 350px;
        width: 400px;
        border: 2px solid black;
        margin-top: 150px;
        margin-left: 500px;
        /* padding: 50px; */
        text-align: center;
    }
    